%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:interns, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:interns, :new)

.tabs-content
  -form_for :intern, url(:interns, :create), :class => 'form-horizontal' do |f|
    =partial 'interns/form', :locals => { :f => f }
